<!-- templates/signup.html -->
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="balance">Bank Balance:</label><br>
        <input type="number" id="balance" name="balance" step="0.01" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>